# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Trình quản lý gói (Package Managers)
node_modules/

# Thư mục build của Vite và Electron
dist/
dist-electron/
release/
out/

# Môi trường (Environment)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Thư mục dữ liệu Test (Tránh đẩy ảnh/test lên Git)
test_photos/

# File hệ điều hành (OS)
.DS_Store
Thumbs.db
*.swp

# IDE / Editor
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
